<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.model.dao.AlarmRecordMapper">
  <resultMap id="BaseResultMap" type="com.java.model.domain.AlarmRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="device_id" jdbcType="INTEGER" property="deviceId" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="printscreen" jdbcType="VARCHAR" property="printscreen" />
    <result column="alarm_type" jdbcType="INTEGER" property="alarmType" />
    <result column="alarm_date" jdbcType="TIMESTAMP" property="alarmDate" />
    <result column="alarm_time" jdbcType="VARCHAR" property="alarmTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="del_status" jdbcType="INTEGER" property="delStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, device_id, device_name, printscreen, alarm_type, alarm_date, alarm_time, 
    status, del_status, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bh_alarm_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bh_alarm_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.java.model.domain.AlarmRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bh_alarm_record (user_id, device_id, device_name, 
      printscreen, alarm_type, alarm_date, 
      alarm_time, status, del_status, 
      create_time)
    values (#{userId,jdbcType=INTEGER}, #{deviceId,jdbcType=INTEGER}, #{deviceName,jdbcType=VARCHAR}, 
      #{printscreen,jdbcType=VARCHAR}, #{alarmType,jdbcType=INTEGER}, #{alarmDate,jdbcType=TIMESTAMP}, 
      #{alarmTime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{delStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.java.model.domain.AlarmRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bh_alarm_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="printscreen != null">
        printscreen,
      </if>
      <if test="alarmType != null">
        alarm_type,
      </if>
      <if test="alarmDate != null">
        alarm_date,
      </if>
      <if test="alarmTime != null">
        alarm_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="delStatus != null">
        del_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="printscreen != null">
        #{printscreen,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null">
        #{alarmType,jdbcType=INTEGER},
      </if>
      <if test="alarmDate != null">
        #{alarmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmTime != null">
        #{alarmTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null">
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.java.model.domain.AlarmRecord">
    update bh_alarm_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="printscreen != null">
        printscreen = #{printscreen,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null">
        alarm_type = #{alarmType,jdbcType=INTEGER},
      </if>
      <if test="alarmDate != null">
        alarm_date = #{alarmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmTime != null">
        alarm_time = #{alarmTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java.model.domain.AlarmRecord">
    update bh_alarm_record
    set user_id = #{userId,jdbcType=INTEGER},
      device_id = #{deviceId,jdbcType=INTEGER},
      device_name = #{deviceName,jdbcType=VARCHAR},
      printscreen = #{printscreen,jdbcType=VARCHAR},
      alarm_type = #{alarmType,jdbcType=INTEGER},
      alarm_date = #{alarmDate,jdbcType=TIMESTAMP},
      alarm_time = #{alarmTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      del_status = #{delStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>