<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.model.dao.StreamMediaConfigMapper">
  <resultMap id="BaseResultMap" type="com.java.model.domain.StreamMediaConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="sip_server_number" jdbcType="VARCHAR" property="sipServerNumber" />
    <result column="sip_server_ip" jdbcType="VARCHAR" property="sipServerIp" />
    <result column="sip_region" jdbcType="VARCHAR" property="sipRegion" />
    <result column="sip_port" jdbcType="INTEGER" property="sipPort" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="access_route" jdbcType="VARCHAR" property="accessRoute" />
    <result column="create_user_type" jdbcType="INTEGER" property="createUserType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="del_status" jdbcType="INTEGER" property="delStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, company_name, sip_server_number, sip_server_ip, sip_region, sip_port, 
    password, access_route, create_user_type, status, del_status, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bh_stream_media_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bh_stream_media_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.java.model.domain.StreamMediaConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bh_stream_media_config (user_id, company_name, sip_server_number, 
      sip_server_ip, sip_region, sip_port, 
      password, access_route, create_user_type, 
      status, del_status, create_time
      )
    values (#{userId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, #{sipServerNumber,jdbcType=VARCHAR}, 
      #{sipServerIp,jdbcType=VARCHAR}, #{sipRegion,jdbcType=VARCHAR}, #{sipPort,jdbcType=INTEGER}, 
      #{password,jdbcType=VARCHAR}, #{accessRoute,jdbcType=VARCHAR}, #{createUserType,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{delStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.java.model.domain.StreamMediaConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bh_stream_media_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="sipServerNumber != null">
        sip_server_number,
      </if>
      <if test="sipServerIp != null">
        sip_server_ip,
      </if>
      <if test="sipRegion != null">
        sip_region,
      </if>
      <if test="sipPort != null">
        sip_port,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="accessRoute != null">
        access_route,
      </if>
      <if test="createUserType != null">
        create_user_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="delStatus != null">
        del_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="sipServerNumber != null">
        #{sipServerNumber,jdbcType=VARCHAR},
      </if>
      <if test="sipServerIp != null">
        #{sipServerIp,jdbcType=VARCHAR},
      </if>
      <if test="sipRegion != null">
        #{sipRegion,jdbcType=VARCHAR},
      </if>
      <if test="sipPort != null">
        #{sipPort,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="accessRoute != null">
        #{accessRoute,jdbcType=VARCHAR},
      </if>
      <if test="createUserType != null">
        #{createUserType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null">
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.java.model.domain.StreamMediaConfig">
    update bh_stream_media_config
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="sipServerNumber != null">
        sip_server_number = #{sipServerNumber,jdbcType=VARCHAR},
      </if>
      <if test="sipServerIp != null">
        sip_server_ip = #{sipServerIp,jdbcType=VARCHAR},
      </if>
      <if test="sipRegion != null">
        sip_region = #{sipRegion,jdbcType=VARCHAR},
      </if>
      <if test="sipPort != null">
        sip_port = #{sipPort,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="accessRoute != null">
        access_route = #{accessRoute,jdbcType=VARCHAR},
      </if>
      <if test="createUserType != null">
        create_user_type = #{createUserType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java.model.domain.StreamMediaConfig">
    update bh_stream_media_config
    set user_id = #{userId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      sip_server_number = #{sipServerNumber,jdbcType=VARCHAR},
      sip_server_ip = #{sipServerIp,jdbcType=VARCHAR},
      sip_region = #{sipRegion,jdbcType=VARCHAR},
      sip_port = #{sipPort,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      access_route = #{accessRoute,jdbcType=VARCHAR},
      create_user_type = #{createUserType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      del_status = #{delStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>